<div class="comment">
  <div class="container">      
    <div class="comennt-index">
      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td><img src=<%= comment.user.image %> class="icon_image2"></td>
            <td><%= comment.user.name %></td>
            <td><%= comment.content %></td>
          </tr>
        <% end %>
      </table>
      <%= link_to 'Back', articles_path %>
    </div>
  </div>
</div>