// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-welcome {
  background-image: url(/XJMBMTYYN2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}