* {
  margin: 0;
}

a {
  color: black;
}
a:hover {
  opacity:0.5;
}

body {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

li{
  list-style:none;
}

/* layout.html */
.video {
  margin: 15px;
}

.video_title {
  margin-left: 20px;
  font-size: 30px;
}

.video_writer {
  font-size: 20px;
  margin-left: 20px;
}

.maierea {
  display: flex;
  justify-content: center;
}

aside{
  width: 15%;
}

main {
  width: 80%;
  margin-left: 10px;
}

/*video_list.html*/

.grid{
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 2%;
}

/* サムネイルサイズ */
.video {
  width: 200px;
}


/* 動画サイズ */
video {
  width: 100%;
  height: 500px;
}

/* ナビバー */
.navbar {
  width: 100%;
  border-bottom: solid 2px lightgray;
}

.navbar h2 {
  font-size: 30px;
  font-weight: bold;
}
/* ナビを横並びにする */
.nav_list {
  display:flex;
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
}
/* search.html */

.category_list_page{
  margin-top: 20px;
}



/* スマホレスポンシブデザイン */

@media all and (max-width: 1000px) {
.maierea {
    display: block;
    justify-content: center;
  }

.video {
    margin: 10px auto;
  }

aside {
   display: none;
   width: 0;
  }

.container {
  width: 100%;
}
/* ナビを縦並びにする */
.nav_list {
  display:block;
  float: right;
}

/* video_detail */

.video_detail {
  width: 100%;
}


}