* {
  margin: 0;
}

a {
  color: black;
}
a:hover {
  opacity:0.5;
}

body {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

li{
  list-style:none;
}

/* layout.html */
.video {
  margin: 15px;
}

.video_title {
  margin-left: 20px;
  font-size: 30px;
}

.signup {
  font-size: 20px;
  font-weight: bold;
}

.video_writer {
  font-size: 20px;
  margin-left: 20px;
}

.maierea {
  display: flex;
  justify-content: center;
}

aside{
  width: 15%;
}

main {
  width: 80%;
  margin-left: 10px;
}

/* 戻るボタン */
.back_btn {
  margin-top: 10px;
}

/*video_list.html*/

.grid{
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 2%;
}

/* サムネイルサイズ */
.video {
  width: 200px;
}


/* 動画サイズ */
video {
  width: 100%;
  height: 500px;
}

/* ナビバー */
.navbar {
  width: 100%;
  border-bottom: solid 2px lightgray;
  z-index: 1;
}

.navbar h2 {
  font-size: 30px;
  font-weight: bold;
}
/* ナビを横並びにする */
.nav_list {
  display:flex;
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
}
/* search.html */

.category_list_page{
  margin-top: 20px;
}


/*ハンバーガーメニュー*/
.nav-wrapper{      
  display: none;      
  width: 100vw;      
  height: 100vh;      
  position: fixed;      
  top: 0;      
  left: 0;       
  z-index: 2;     
}     
.header-nav{        
  width: 100%;        
  height: 100%;        
  background-color:#1B1310;        
  z-index: 2;      
}     
.header-nav.nav-list{        
  display: block;        
  position: absolute;        
  top: 50%;        
  left: 50%;        
  transform: translate(-50%,-50%);        
  text-align: center;      
}      
.header-nav.nav-item{        
  margin-right: 0;        
  margin-bottom: 40px;      
}

.nav-item {
  text-align: center;
  padding-top: 25px;
}

.nav-item a{
  color: #FFF;
  font-size: 25px;
}
/* スマホレスポンシブデザイン */

@media all and (max-width: 1000px) {
.maierea {
    display: block;
    justify-content: center;
  }

.video {
    margin: 10px auto;
  }

aside {
   display: none;
   width: 0;
  }

.container {
  width: 100%;
}
/* ナビを縦並びにする */
.nav_list {
  display:block;
}

/* video_detail */

.video_detail {
  width: 100%;
}

/*ハンバーガーメニュ－  */
.burger-btn{
  display: block;      
  width: 39px;      
  height: 39px;      
  position: relative;      
  z-index: 3;
  border:none;    
}    
.bar{      
  width: 20px;      
  height: 1px;        
  display: block;      
  position: absolute;      
  left: 650px;      
  transform: translateX(-50%);      
  background-color: #FFF;    
}    
.bar_top{   
  top: -40px;
}
.bar_mid{    
  top: -30px;
  transform: translate(-50%,-50%);
}
.bar_bottom{
  bottom: 60px;
}

/* 閉じるボタン */
.burger-btn.close .bar_top{      
  transform: translate(-50%,10px) rotate(45deg);      
  transition: transform .3s;    
}    
.burger-btn.close .bar_mid{      
  opacity: 0;       
  transition: opacity .3s;    
}    
.burger-btn.close .bar_bottom{      
transform: translate(-50%,-8px) rotate(-45deg);      
transition: transform .3s;    
}

/* ナビメニューを隠す */
.buttons {
  display: none;
}

body.noscroll{
  overflow: hidden;
}

}