{% extends 'videos/base.html' %}

{% block content %}
    <h1>{{ video.title }}</h1>
    <video src="{{ video.file.url }}" controls></video>

    <a class="button is-primary" href="{% url 'videos:comment_create' video.pk %}">コメントする</a>
    <section class="section">
        {% for comment in video.comment_set.all %}
            <div class="box">
                {{ comment | linebreaks | urlize }}
            </div>
        {% endfor %}
    </section>
    <div>
        <a href="{% url 'videos:video_list' %}">一覧</a>
        <a href="{% url 'videos:video_update' video.pk %}">編集</a>
        <a href="{% url 'videos:video_delete' video.pk %}">削除</a>
    </div>
{% endblock %}