
{% extends 'layout.html' %}

{% block content %}
    <h1>{{ video.title }}</h1>
    <video src="{{ video.file.url }}" controls></video>
    <h2><a href="{% url 'videos:user_detail' video.writer.pk %}">{{ video.writer }}</a></h2>
    <br>
    <a class="button is-light" href="{% url 'videos:comment_create' video.pk %}">コメントする</a>
    <section class="section">
        {% for comment in video.comment_set.all %}
            <div class="box">
                {{ comment | linebreaks | urlize }}
            </div>
        {% endfor %}
    </section>
    <div>
        <a href="{% url 'videos:video_list' %}" class="button is-light">一覧</a>
        {% if request.user.id == object.writer_id %}
            <a href="{% url 'videos:video_update' video.pk %}" class="button is-light">編集</a>
            <a href="{% url 'videos:video_delete' video.pk %}" class="button is-light">削除</a>
        {% endif %}
    </div>
{% endblock %}