// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* posts/index ================================ */
.index-container {
  display: flex;
  justify-content: space-between;
}

.aside {
  width: 30%;

}

.main-article {
  width: 70%;
  }

  /*--------サイドバー ----------  */
.aside-main {
  float: right;
  padding: 15px 50px;
  height: 100vh;
  position:relative;
}

.fa-3x {
  font-size:33px !important;
  color: #1DA1F2;
}

.sub-menu li {
  margin: 10px 5px;
  padding: 10px 5px;
  width: 200px;
}
.sub-menu a {
  font-size: 15px;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.sub-menu a:hover {
  text-decoration: none;
}

.sub-menu span {
  font-size: 24px;
  margin-right: 20px;
  display: inline-block;
}

.fa-3x:hover {
  background-color: rgba(204,255,255,0.55);
  border-radius: 50px;
}

.sub-menu li:hover {
  background-color: rgba(204,255,255,0.55);
  border-radius: 50px;
}

.tweet {
  background-color: #1DA1F2;
  width: 100%;
  padding: 0.7em 0;
  margin: 0.5em auto;
  border-radius: 20px;
  color: white;
  border: 2px solid #1DA1F2;
  font-size: 15px;
}


.user-sub a:hover {
  text-decoration: none;
  color: #1DA1F2;
  background-color: rgba(204,255,255,0.55);
  border-radius: 50px;
  padding: 10px 10px;
  width: 200px;
}

.user-sub img {
  width: 35px;
  height: 35px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  margin-right: 7px;
}

.user-sub {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.display {
  display: table-cell;
  vertical-align: middle;
  display: inline;
  position:absolute;
  top: 30vh;
  padding: 10px;
  width: 200px;
}

.display-none {
  display: none;
  position: absolute;
  top: 400px;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  width: 200px;
}

.display-none:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid #000;
  margin-left: -15px;
}
.user-sub:active .display-none{
  display: inline-block;
  top: -15px;
  left: -10px;
}

/*------ メインエリア -----*/
/*top*/
.post-article {
  width: 50%;
  border: 1px solid lightgray;
  height:1000px;
}

.post-top {
  border-bottom:1px solid lightgrey;
  padding: 10px 0;
}
.home {
  font-size: 18px;
  color: black;
  border: none;
  padding-left: 10px;
}

.post-top span {
  float: right;
  font-size: 20px;
  color:  #1DA1F2;
  display: block;
  padding-right: 20px;
}

/*mid*/
.post-mid {
  border-bottom: 7px solid lightgrey;

}

.tweet-area {
  display: flex;
  padding: 20px 10px;
}

.user-icon img {
width: 50px;
height: 50px;
border-radius: 40%;
box-shadow: 0 2px 6px #c1ced7;
object-fit: cover;
margin-right: 10px;
}

.writing-area {
  border: none;
  width: 30vw;
  height: 6vh;
  color: gray;
  font-size: 20px;
  padding-top: 10px;
}
/*文字を隠す*/
.post-tweet .everyone {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
}

.post-tweet textarea:focus {
  outline: none;
}
/*forcasすると文字が出る*/
.post-tweet textarea:focus + .everyone {
  border-bottom: 1px solid lightgrey;
  padding: 1vh;
  height: auto;
  opacity: 1;
  }

  .post-tweet textarea:focus + .everyone a {
  font-size: 12px;
  color: #1DA1F2;
  font-weight: bold;
  padding: 10px 10px;
  }  

.everyone a:hover {
  text-decoration: none;
  color: #1DA1F2;
  background-color: rgba(204,255,255,0.55);
  border-radius: 50px;
  padding: 10px 10px;
}

.everyone span {
  font-size: 20px;
  margin-right: 5px;
}


.new-bottom span {
  font-size: 21px;
  color: #1DA1F2;
  padding: 8px 8px;
}

.new-bottom span:hover {
  text-decoration: none;
  padding: 8px 8px;
  color: #1DA1F2;
  background-color: rgba(204,255,255,0.55);
  border-radius: 50px;
}

.tweet-btn {
  float: right;
  background-color: rgba(29, 161, 242, 0.5);
  width: 90px;
  padding: 0.5em 0;
  margin: 1vh ;
  border-radius: 20px;
  color: white;
  border: none;
  font-size: 15px;
}

.tweet-btn input {
  border: none;
}

/*bottom*/

.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  border: 1px solid lightgray;
}

.posts-index-item:hover {
  background-color: rgba(200, 192, 192, 0.1);
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
}

/* posts/show ================================ */

.show-container {
  display: flex;
  justify-content: space-between;
}

.aside {
  width: 30%;
}

.posts-show-item {
  background-color: white;
  overflow: hidden;
  width: 70%;
}

.post-article {
  width: 50%;
  border:  1px solid lightgray;
}

.back-tweet {
  display: flex;
  border-bottom:  1px solid lightgray;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

.back-tweet a {
  color: #1DA1F2;
  font-weight: bold;
  padding:10px;
}

.back-tweet a:hover {
  text-decoration: none;
  padding:10px;
  color: #1DA1F2;
  background-color: rgba(204,255,255,0.55);
  border-radius: 50px;
}

.back-text {
  padding-top: 5px;
}
.post-main {
  border-bottom:  1px solid lightgray;
  padding: 20px;
  }

.posts-show form {
  display: inline;
}

.posts-show-item img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 20px;
  margin-left: 15px;
  color: black;
}

.post-user-name a:active {
  color: black;
}
.posts-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.count-area ul {
  display: flex;
  justify-content: row ;
  padding: 1vw 2vw;
  border-bottom:  1px solid lightgray;
}

.count-area li {
  padding-right: 2vw;
}

.post-menus {
  float: right;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

.reaction {
  display: flex;
  justify-content: space-between;
  border-bottom:  1px solid lightgray;
  padding: 0 2vw;
}

.like-btn {
  color: #8899a6;
}

.like-btn-unlike {
  color: #ff2581;
}

.reaction a {
  font-size: 20px;
  padding: 10px 15px;
  color: #8899a6;
}
.ab:hover {
  text-decoration: none;
  padding: 10px 15px;
  color: #1DA1F2;
  background-color: rgba(204,255,255,0.55);
  border-radius: 50px;
}

.like-btn:hover {
  text-decoration: none;
  padding: 5px;
  background-color: rgba( 255, 37, 129, 0.23 );
  border-radius: 50px;
}

.like-btn-unlike:hover {
  text-decoration: none;
  padding: 5px;
  background-color: rgba( 255, 37, 129, 0.23 );
  border-radius: 50px;
}
/* posts/new ================================ */
.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}