<div class="nested-fields">
  <%= f.hidden_field :_destroy %>
  <%= f.text_field :m_name %>
  <%= f.text_field :m_amount %>
  <%= link_to_remove_association "削除", f, class: "btn btn-default" %>
</div>
