<div class="nested-fields">
  <%= f.hidden_field :_destroy %>
  <%= f.text_area :process %>
  <%= f.file_field :process_image %>
  <%= link_to_remove_association "削除", f, class: "btn btn-default" %>
</div>