  <div class="main-wrapper">
    <div class="container">
      <div class="title">
        <h1>Todo List</h1>
      </div>
      <%= form_tag("/posts/create") do %>
        <div class="new-content">
          <input name="content">
          <button type="submit" class="btn btn-secondary"><i class="fa fa-plus"></i></button>
        </div>
      <% end %>
        <% @post.each do |post| %>
          <div class="list-group">
            <div class="check">
              <i class="fa fa-check-square-o"></i>
            </div>
            <div class="content">
                <%= post.content %> 
            </div>
            <div class="edit">
              <%= link_to ("/posts/#{post.id}/edit") do %>
                <i class="fa fa-pencil-square-o"></i>
              <% end %>
            </div>
            <div class="destroy">
              <%= link_to("/posts/#{post.id}/destroy", method: :post) do %>
                <i class="fa fa-trash-o"></i>
              <% end %>
            </div> 
          </div>  
        <% end %>
      <script>
        $(function() {
          $('.check').click(function() {
            $(this).css('color', 'red');
            var $contentIndex = $('.content').index($(this))
            $('.content').eq($contentIndex).css('text-decoration', 'line-through');
            })
        });
      </script>
    </div>
  </div>
