  <div class="main-wrapper">
    <div class="container">
      <div class="title">
        <h1>Todo List</h1>
      </div>
      <%= form_tag("/posts/create") do %>
        <div class="new-content">
          <input name="content">
          <button type="submit" class="btn btn-secondary"><i class="fa fa-plus"></i></button>
        </div>
      <% end %>
      <ul class="list-group">
        <% @post.each do |post| %>
          <div class="todo_list">
            <li><div class="post-content">
              <%= post.content %>
            </div>
            <div class="edit">
              <%= link_to ("/posts/#{post.id}/edit") do %>
                <i class="fa fa-pencil-square-o"></i>
              <% end %>
            </div>
            <div class="destroy">
              <%= link_to("/posts/#{post.id}/destroy", method: :post) do %>
                <i class="fa fa-trash-o"></i>
              <% end %></li>
            </div>  
          </div>
        <% end %>
      </ul>
    </div>
  </div>
