{% load event_tags %}

<!-- {% comment %} <h1>Name: {{ my_name }}</h1>
<h2>果物: {{ favourite_fruites.1 }}</h2>
<h3>Age: {{ my_info.age }}</h3> {% endcomment %} -->

{# for #}
<ul>
    {% for fruit in favourite_fruits %}
        <li>{{ fruit }}</li>
    {% endfor %}
</ul>

{# if #}
{% if 'rape' in favourite_fruits %}
    <p>Grapeあります</p>
{% elif 'lemon' in favourite_fruits%}
    <p>Lemonあります</p>
{% else %}
    <p>Not Found</p>
{% endif %}

{% if 'age' in my_info %}
    <p>age in my_info</p>
    {% if my_info.age < 20 %}
        <p>未成年</p>
    {% endif %}
{% endif %}

{% if my_info.name != 'Taro' %}
    <p>Taro</p>
{% endif %}
<!-- <p>{{ status | status_to_string:'AAA' }}</p> -->