// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.article-post {
  width: 30%;
  margin: 20px auto;
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.name {
  border-bottom: 1px solid lightgray;
  width: 100%;
  margin-bottom: 20px;
}

.picture {
  text-align: center;
}

.slide {
  display:none;
}

.active {
  display:block;
}

.prev-btn {
  color: rgb(151, 135, 135);
  font-size: large;
  cursor: pointer;
  float: left;
  position: relative;
  top: 13vh;
  display: none;
}

.next-btn {
  color: rgb(151, 135, 135);
  font-size: large;
  cursor: pointer;
  float: right;
  position: relative;
  top: 13vh;
}
