// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-post {
	width: 600px;
  background-color: white;
  overflow: hidden;
	box-shadow: 0 2px 6px #c1ced7;
  height: auto;
  margin: 0 auto 40px;
}

.name {
  padding: 10px;
  margin-left: 1em;
  width: 100%;
}

.article-icon {
  padding-left: 10px;
}
.article-icon a {
 padding: 5px;
 font-size: 20px;
}

.article-icon a:hover {
  pointer-events: none; 
}
//body//
.article_body {
  position: relative;
  margin-left: 2em;
  height: auto;
}
.article_body + .article_body {
  margin-top: 20px;
}
.readmore-btn {
  cursor: pointer;
  color: lightgray;
  position: absolute;
  top: 3vh;
  left:15vw;
  z-index: 10;
}

.readmore-btn::after {
  content: "続きを読む" /*クリック前のボタンのラベル*/
}
.readmore-btn .fa {
  margin-right: 5em;
}

.body-text {
  position: relative;
  overflow: hidden;
}
.body-text.is-hide {
  height: 60px;/*隠した後の高さ*/
}
.body-text p + p {
  margin-top: 1em;
}
.body-text::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 20px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
}
.readmore-btn.is-show + .body-text::before {
  display: none;
}

.readmore-btn.is-show {
  bottom: -2em;
}
.readmore-btn.is-show::after {
  content: "閉じる" /*クリック後にボタンのラベルを変える*/
}
.readmore-btn.is-show + .body-text::before {
  display: none;
}

.body-search {
  width: 100%;
  margin-bottom: 2em;
  text-align: center;
}

//article_show//

.likes-btn {
  padding-left: 20px;
  font-size: 20px;
}

.link {
	padding: 10px;
}

//likeボタン//
.like-btn {
  color: #8899a6;

}

.like-btn-unlike {
  color: #ff2581;
}

.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}

.article-icon {
  display: flex;
}

.comment-btn {
  margin: 0 10px;
}
//コメント一覧// 
.comment-show {
  margin:10px;
  border-bottom:1px solid #ccc;
  position:relative;
  cursor:pointer;
  text-align: left;
}

.comment-show p {
  font-size: 14px;
}

.comment-show span {
  position:absolute;
  top:0;
  right:5px;
  color:#ccc;
  font-size:13px;
}

.comennt {
  font-size: 12px;
  padding: 5px 0px;
  margin-bottom: 15px;
  display: none;
}

.comment-list li {
	padding: 10px 0; 
}

.comment-new {
	padding: 5px;
}


//article-form//
.new-article-area {
  width: 100%;
  margin: 1em auto;
}

.new-article {
  width: 20%;
  margin: 3em auto;
  padding: 1em;
  border: 1px solid lightgray;
  background-color: #ecebeb;
}


