/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require cropper.min.css
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
 ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


 header {
   height: 7rem;
   border-bottom: 2px solid black;
 }

 .header_main {
   width: 80%;
   display: flex;
   margin: 0 auto;
 }

 .header_main >:last-child {
  margin-left: auto;
}

 .flex-column {
  display: none;
}

.menu {
  display: none;
}

.header_right {
  font-size: 2rem;
  display: flex;
  line-height: 7rem;
}

.signup, .login, .setting {
  cursor: pointer;
  margin-right: 1rem;
}

.image {
  width: 50%;
  margin: 0 auto;
}

.user_image {
    width: 5rem;
    height: 5rem;
    border-radius: 100px;
    object-fit: cover;
}

.container {
  width: 100%;
}

//モーダル//
.login-modal-wrapper, .setting-modal-wrapper, .user-setting-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

//入力欄//
.modal-main{
  background-color: #e6ecf0;
  margin:1rem auto;
  padding-bottom: 3rem;
  border-radius: 10px;
  width: 50rem;
  height: auto;
  text-align: center;
}

.field-image {
  width: 50%;
  margin: 0 auto;
}

//閉じるボタン//
.fa-times {
  position: relative;
  left: 23rem;
  cursor: pointer;
}

//icon_imageプレビュー画像//
.field-password {
  text-align: center;
  margin-top: 2rem;
} 


//スマホ用//

@media all and (max-width: 1000px) {
  //header// 
  .header_main {
    width: 100%;
  }

  //サイドメニュー//
.aside {
  display: none;
}

.menu{
  display: block;
  font-size: 2rem;
}

.flex-column {
  width: 30%;
  display: block;
  background-color: white;
  border: 2px solid lightgray;
}

.nav-item {
  border-bottom: 1px solid lightgray;
}

}
