// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.mainwrapper {
  width: 100%;
  display: flex;
  justify-content: center
}

.aside {
  width: 20%;
  padding-top: 2rem;
  padding-right: 1.5rem;
}

.list-group-item {
  line-height: 2rem;
  font-size:1.5rem;
}

.main-area {
  width: 60%;
}

//post-index//

.label li {
  border: 1px solid lightgray;
  padding :1.5rem;
  font-size: 1rem;
}

.recipe-image {
  text-align: center;
}

.recipe-image img {
  border-radius: 50px;
}
.recipe-image p {
  font-size:1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

//いいね//
.recipe-image span {
  font-size:3rem;
  position: relative;
  top:-270px;
  left:100px;
}

//post-show//
.post-show {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  padding: 0 1.5rem;
  border: 3px solid lightgrey;
} 

.post-top {
  display: flex;
  border-bottom:1px solid lightgray
}

.show-post_name {
  font-weight: bold;
  padding-left: 1rem;
}

//いいね//
.show-likes_icon span{
  font-size: 2rem;
}

.show-likes_icon {
  position: relative;
  top:-5rem;
  left: 50rem;
  font-size:1rem;
}

.like-btn {
  color:rgba(180, 176, 176, 0.836);
}

.unlike-btn {
  color: #ff2581;
}

.show-right {
 width: 50%;
 margin: 15rem auto 0;
}

.posts_image-show {
  margin-bottom: 1rem;
}

//紹介文//
.show-post_content {
  font-size: 2rem;
  padding: 10px;
}
//ユーザー名//
.show-user_name  {
  font-size:2rem;
  padding: 10px;
  padding-bottom: 1rem;
}



//リンクタグ//
.show-link {
  margin-top: 10px;
  display: flex;
}

.show-comment, .show-likes {
  margin: 5px;
  padding: 0.5rem;
  font-size:1.5rem;
  text-align: center;
  background-color: rgba(237, 220,188,0.5);
  border-radius: 50px;
  width: 13rem;
  text-decoration: none;
  color: black;
}

.show-comment a:hover, .show-likes a:hover {
  text-decoration: none;
}

//post_id//
.show-post_id {
  text-align: right;
  padding: 2rem;
}



//材料//
.show-foods {
  margin-top: 1rem;
  width: 50%;
}

.show-recipes {
  margin-top: 1.5rem;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
//タイル型//
.grid-show {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  margin: 1% 0;
  overflow: hidden;
}

.process-image p {
  padding: 1rem;
  font-size:1.5rem;
  font-weight: normal;
  width: 200px;
}

.show-point {
  padding: 1rem 0; 
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
}

//ranking//
.post-index {
  width: 70%;
  margin-left: 5rem;
  margin-bottom: 5rem;
}
//ranking 親要素//
.recipe-list {
  display: flex;
  justify-content: flex-end;
  border: 2px solid lightgray;
  padding: 1rem;
}

.recipe-list >:last-child {
  margin-left: auto;
}

.posts_image{
  width: 200px;
  height: 200px;
}


.recipe-right {
  margin-top: 5rem;
  margin-left: 5rem;
  overflow:hidden;
  font-size: 1rem;
}

.recipe-right a {
  font-size: 2rem;
  display: block;
  margin-bottom: 1.5rem;
}

.recipe-right p {
  margin-bottom: 1rem;
}

.recipe-likes span {
  font-size: 3rem;
  margin: 1.5rem;
}

//likes//
.recipe-list {
  display: flex;
  border: 2px solid lightgray;
  padding: 1rem;
  margin-bottom: 1.5rem;
}


//コメント//
.plus {
  font-size: 25px;
  position: relative;
  top:-1.5em;
  left:95%;
  cursor: pointer;
}

.answer {
  display: none;
}
.comment-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.comment-main {
  border: 1px solid lightgray;
  margin: 1rem;
  font-size: rem;
}

.comment-main span, .comment-main  {
  font-size:1rem;
}

.comment-content img {
  width: 15rem;
  height: 15rem;
}

.user_image-comment {
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  object-fit: cover;
  margin: 1rem;
}



//コメント欄//
.comment-new {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

//post-new// 
.post-new {
  width: 50%;
  margin: 0 auto;
  padding: 3rem;
  border: 3px solid lightgray;
}

.links {
  background-color:lightgray;
  border: 1px solid gray;
  width: 5rem;
  text-align: center;
  margin: 1rem;
}

//post-new// 
.new-top {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.new-content {
  margin-top: 3rem;
}

.foods {
  padding: 2rem 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.recipes {
  padding: 2rem 0;
  border-bottom: 1px solid lightgray;
}

.point {
  padding: 2rem 0;
}

//search// 
.search {
  width: 70%;
  display: flex;
  margin:2rem 5rem;
  justify-content: space-between;
}