// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.mainwrapper {
  width: 100%;
  display: flex;
  justify-content: center
}

.aside {
  width: 20%;
  padding-top: 3rem;
  padding-right: 2rem;
}

.list-group-item {
  line-height: 3rem;
  font-size: 1.5rem;
}

.main-area {
  width: 60%;
}

//post-index//

.label li {
  border: 1px solid lightgray;
  padding :2rem;
  font-size: 1rem;
}

//タイル型//
.grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  margin: 6% 0;
  overflow: hidden;
}

.recipe-image {
text-align: center;
}

.recipe-image img {
  border-radius: 50px;
}
.recipe-image p {
  font-size:2rem;
  font-weight: bold;
  margin-top: 1rem;
}

//いいね//
.recipe-image span {
  font-size:4rem;
  position: relative;
  top:-270px;
  left:100px;
}

//post-show//
.post-mainwrapper h3 {
  font-size: 2rem;
  font-weight: bold;
}
.post-show {
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding-left: 2rem;
  font-size: 1.5rem;
  border: 3px solid lightgrey;
} 

.post-top {
  display: flex;
}

.show-post_name {
  font-weight: bold;
  padding: 1rem;
}

.show-posts_image {
padding:1rem;
}
.show-right {
 width: 50%;
 padding: 2rem;
}
//いいね//
.show-likes_icon span{
  font-size: 2.5rem;
}

.gray-like-btn {
  color:rgba(180, 176, 176, 0.836);
}
.like-btn {
  color:white;
}

.unlike-btn {
  color: #ff2581;
}

.show-likes_icon {
  position: relative;
  left: 15rem;
  padding: 2rem;
  font-size: 1.5rem;
}
//紹介文//
.show-post_content {
  padding: 10px;
}
//ユーザー名//
.show-user_name  {
  font-size: 2rem;
  padding: 10px;
  padding-bottom: 0.5rem;
}

//リンクタグ//
.show-link {
  margin-top: 10px;
  display: flex;
}
.show-comment, .show-likes {
  margin: 10px;
  padding: 0.5rem;
  text-align: center;
  background-color: rgba(237, 220,188,0.5);
  border-radius: 50px;
  width: 13rem;
  text-decoration: none;
  color: black;
}

.show-comment a:hover, .show-likes a:hover {
  text-decoration: none;
}


//材料//
.show-material {
  margin-top: 1rem;
  width: 50%;
}

.show-recipe {
  margin-top: 2rem;
}
//タイル型//
.grid-show {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  margin: 1% 0;
  overflow: hidden;

}

.process-image p {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
  width: 250px;
}

.show-post_id {
  text-align: right;
  padding: 0 5rem 5rem 0;
}

.show-point {
  margin-bottom: 2rem;
}

//ranking//
.post-index {
  width: 70%;
  margin-left: 5rem;
  margin-bottom: 5rem;
}
//ranking 親要素//
.recipe-list {
  display: flex;
  justify-content: flex-end;
  border: 2px solid lightgray;
  padding: 1rem;
}

.recipe-list >:last-child {
  margin-left: auto;
}

.recipe-left p {
  font-size: 2rem;
  font-weight: bold;
}

.recipe-right {
  margin-top: 5rem;
  margin-left: 5rem;
  overflow:hidden;
}

.recipe-right p {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.recipe-likes span {
  font-size: 4rem;
  margin: 2rem;
}

//likes//
.recipe-list {
  display: flex;
  border: 2px solid lightgray;
  padding: 1rem;
}


//コメント//
.comment-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 4rem 0 2rem;
}

.comment-main {
  border: 1px solid lightgray;
  padding: 1rem;
  margin: 1rem;
  font-size: rem;
}

.comment-main span, .comment-main p {
  font-size: 2rem;
}

.comment-content img {
  width: 20rem;
  height: 20rem;
  margin: 0.5rem;
}

//コメント欄//
.comment-new {
  margin: 0 0 0 auto;
  width: 25em;
}
