{% extends 'contact/base.html' %}

{% block content %}
    <h1>お問い合わせ</h1>
    <form action="" method="POST">
        {% include 'contact/form.html' %}
        {% csrf_token %}
        <button type="submit">送信</button>
    </form>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(fanction () {
            $('#id_created_at').datepicker({dateFormat: 'yy-mm-dd'});
        });
    </script>
{% endblock %}