{% comment %} {% load static %}
{% load videos %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>動画アップロード</title>

  <link rel="stylesheet" href="{% static 'videos/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <div class="section">
      <div class="container">
        <div class="mainarea">
          <aside>
            {% create_search_form request %}
          </aside>
          <main>
            {% block content %}{% endblock %}
          </main>
        </div>
      </div>
    </div>
</body>
</html> {% endcomment %}