{% extends 'layout.html' %}
{% load static %}
{% load videos %}

{% block content %}
    <div class="video_list">
        {% for video in video_list %}
            <h1>{{ forloop.counter }}位</h1>
            <a href="{% url 'videos:video_detail' video.pk %}">
                <div class="video">
                    {% if video.thumbnail %}
                    <img src="{{ video.thumbnail.url }}">
                    {% else %}
                    <img src="{% static 'videos/noimage.png' %}">
                    {% endif %}
                    <h2>{{ video.title }}</h2>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="num">
        <!-- 前の部分 -->
        {% if page_obj.has_previous %}
            <a href="?{% url_replace request 'page' page_obj.previous_page_number %}">前へ</a>
        {% endif %}
        <!-- 数字の部分 -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span>{{ num }}</span>
            {% else %}
        <a href="?{% url_replace request 'page' num %}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        <!-- 次への部分 -->
        {% if page_obj.has_next %}
            <a href="?{% url_replace request 'page' page_obj.next_page_number %}">次へ</a>
        {% endif %}
    </div>
        {% endblock %}