
{% extends 'layout.html' %}

{% block content %}
    <div class="video_detail">
        <h1 class="video_title">タイトル：{{ video.title }}</h1>
        <a href="{% url 'videos:user_detail' video.writer.pk %}" class="video_writer">投稿者：{{ video.writer }}</a>
        <video src="{{ video.file.url }}" controls></video>
        <div class="link">
            {% if video.good == None %}
                <a href="{% url 'videos:good' video.pk %}" class="button is-light"><i class="far fa-thumbs-up"></i></a>
            {% else %}
                <a href="{% url 'videos:good' video.pk %}" class="button is-light"><i class="far fa-thumbs-up"></i>{{ video.good }}</a>
            {% endif %}
            {% if video.bad == None %}
                <a href="{% url 'videos:bad' video.pk %}" class="button is-light"><i class="far fa-thumbs-down"></i></a>
            {% else %}
                <a href="{% url 'videos:bad' video.pk %}" class="button is-light"><i class="far fa-thumbs-down"></i>{{ video.bad }}</a>
            {% endif %}
            <a href="{% url 'videos:comment_create' video.pk %}" class="button is-light">コメントする</a>
        </div>
        <section class="section">
            {% for comment in video.comment_set.all %}
                <div class="box">
                    {{ comment | linebreaks | urlize }}
                </div>
            {% endfor %}
        </section>
        <div>
            <a href="{% url 'videos:video_list' %}" class="button is-light">戻る</a>
            {% if request.user.id == object.writer_id %}
                <a href="{% url 'videos:video_update' video.pk %}" class="button is-light">編集</a>
                <a href="{% url 'videos:video_delete' video.pk %}" class="button is-light">削除</a>
            {% endif %}
        </div>
    </dvi>
{% endblock %}