{% load static %}
{% load videos %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>動画アップロード</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="{% static 'videos/style.css' %}">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="{% static 'jquery-3.3.1.slim.min.js' %}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
</head>
<body>
<header>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <h2 class="navbar-item">video_list</h2>
      <div class="buttons">
        <ul class="nav_list">
          <li><a href="{% url 'videos:video_list' %}" class="button is-dark">ホーム</a></li>
          <li><a href="{% url 'videos:video_create' %}" class="button is-dark">動画投稿</a></li>
          <li><a href="{% url 'videos:ranking' %}" class="button is-dark">ランキング</a></li>
          {% if user.is_authenticated %}  
            <li><a href="{% url 'videos:user_detail' user.id %}" class="button is-dark">{{ user }}</a> </li>
            <li><a href="{% url 'logout' %}" class="button is-dark">logout</a></li>
          {% else %}
            <li><a href="{% url 'login' %}" class="button dark">login</a></li>
            <li><a href="{% url 'accounts:signup' %}" class="button dark">SignUp</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="section">
  <div class="container">
    <div class="maierea">
      <aside>
        {% if user.is_authenticated %}
          {% create_search_form request %}
          {% create_category_list %}
        {% endif %}
      </aside>
      <main>
        <div class="mainarea">
          {% block content %}
          {% endblock %} 
        </div>
      </main>
    </div>
  </div>
</div>
</body>
</html>