// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-wrapper {
  height: 100vh;
  background-image: linear-gradient(to bottom, #4C64D3, #CF2E92 30%, #F26939 60%, #FFDD83);
  text-align: center;
  opacity: 0.8;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: 60px auto;
  padding-left: 15px;
  padding-right: 15px;
 
}

.title h1 {
  font-size: 70px;
}

.new-content {
  display: flex;
  margin-bottom: 20px;
  
}

 .new-content button {
  display: inline-block;
  height: 30px;
  width: 20%;
}

.new-content input {
  display: inline-block;
  height: 30px;
  width: 80%;
}

.list-area {
  background-color: white;
  margin:  0 auto;
  padding: 30px;
  height: auto;
}
.list-group {
  margin: 0px auto;
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid rgb(97, 96, 182);
}

.check, .edit, .destroy {
  display: inline-block;
  font-size: 20px;
  width: 10%;
}

.contents {
  text-align: left;
  display: inline-block;
  font-size: 20px;
  padding-left: 5px;
  width: 70%;
}

.active {
  color: red;
}

.l-active {
  background-color: lightgray;
  color: red;
}

.c-active {
  text-decoration:line-through;
}
